In [1]:
import pandas as pd
df=pd.read_csv(r'/Users/franckglastre/Desktop/labeled_emails.csv')

In [27]:
df.head(5)

                                               email label
0                Subject: re : rankings\nthank you .   ham
1  Subject: re : visit to enron\nvince ,\ndec . 2...   ham
2  Subject: research group move to the 19 th floo...   ham
3  Subject: christmas baskets\nthe christmas bask...   ham
4  Subject: japan candidate\nvince ,\ni spoke wit...   ham

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5854 entries, 0 to 5853
Data columns (total 2 columns):
email    5854 non-null object
label    5854 non-null object
dtypes: object(2)
memory usage: 91.6+ KB

In [29]:
df.iloc[1]['email']

'Subject: re : visit to enron\nvince ,\ndec . 29 at 9 : 00 will be fine . i have talked to shirley and have\ndirections .\nthanks , bob\nvince j kaminski wrote :\n> bob ,\n>\n> can you come to our office on dec 29 at 9 : 00 a . m . ?\n>\n> please , call shirley crenshaw ( 3 - 5290 ) or stinson gibner ( 3 - 4748 )\n> from the reception to be admitted to the building .\n>\n> vince kaminski'

In [30]:
df.label.value_counts()

ham     4358
spam    1496
Name: label, dtype: int64

In [31]:
df[df.label=="spam"].iloc[1]['email']

"Subject: spend too much on your phone bill ? 25711\ncrystal clear connection with unlimited\nlong distance usage for one low flat rate !\nnow\ntry it for free ! ! * see for\nyourself .\nwe ' ll activate\nyour flat rate unlimited long distance service for 1 week free * to prove\nthat the quality of service is what you\nexpect .\ncall now ! operators standing\nby to activate your service .\ntoll free : 877 - 529 - 7358 monday through friday 9 am to 9 pm\nedt\nfor more information :\nyour\nname :\ncity :\nstate :\ndaytime\nphone :\nnighttime\nphone :\nemail :\n* one week free\noffer is valid to those who have a valid checking account . service is\nnever billed until after the 1 week free trial\nperiod .\nif you have received this by error or wish to be\nremoved from our mailing list , please click\nhere"